
html, body {
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 16px;
}




a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #666;
}
a:hover {
    color: #999;
}


/* header */

.header {
    text-align: center;
    padding: 1rem;
    background-color: #f2f2f2;
}

/* navigator */

.navigator ul {
    margin: 0;
    padding: 0;
}

.navigator li {
    display: inline-block;
    padding: 0 2rem;
    margin: 0 0.5rem;;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: .5s;
    overflow-y: hidden;
    border: 2px solid #f2f2f2;
}
.navigator li:hover {
    background-color: #eee;
}


/* section */

.section {
    padding: 1rem 1rem 4rem;
}
.section h3 {
    font-size: 2rem;
    margin: 1rem 0;
}
.section {
    font-size: 1.2rem;
}

.section:nth-of-type(even) {
    background-color: #f2f2f2;
}

.section_gamekeys li {
    list-style: disc;
}

.section_gamekeys li {
    list-style: disc;
}


.section_credits a {
    color: #66c;
}